@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-burj {
  background-image: url('https://images.pexels.com/photos/618079/pexels-photo-618079.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.status-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

@media (max-width: 768px) {
  .bg-burj {
    background-attachment: scroll;
  }
  
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}